<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu" id="home-button1" class="button button-assertive  button-block">Carnes</a>
    <a ui-sref="menu2" id="home-button2" class="button button-balanced  button-block">Bebidas</a>
    <a ui-sref="menu3" id="home-button3" class="button button-energized  button-block">Postres</a>
    <a ui-sref="menu4" id="home-button4" class="button button-positive  button-block">Random</a>
  </ion-content>
</ion-view>